*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #212122;
}

.quiz-start {
  background-color: rgb(226, 226, 226);
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  width: 500px;
  border-radius: 30px;
  line-height: 2;
}

.quiz-start h1 {
  background: linear-gradient(to right, #e100ff, #7f00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding-top: 20px;
}

.quiz-start h2,
p {
  margin: 0;
  padding: 10px 0;
}

.quiz-start h3 {
  color: #e100ff;
}

.start-btn {
  border-radius: 20px;
  margin: 20px;
  width: 100px;
  height: 40px;
  background-color: #0400ff;
  color: white;
  border: none;
}

.start-btn:hover {
  background-color: #e100ff;
}

.quiz-question-container {
  background-color: rgb(226, 226, 226);
  display: none;
  text-align: center;
  margin: auto;
  width: 500px;
  border-radius: 30px;
  line-height: 2;
  padding-bottom: 20px;
}

.quiz-question-container h2 {
  background: linear-gradient(to right, #e100ff, #7f00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
}

.quiz-question-container ol {
  text-align: left;
  line-height: 2;
  /* color: #0575e6; */
  color: #4900f2;
  font-size: larger;
}

.question-content {
  padding: 20px 20px 0px 20px;
  font-size: larger;
  text-align: center;
}

.next-btn {
  border-radius: 20px;
  margin: 20px;
  width: 100px;
  height: 40px;
  background-color: #0400ff;
  color: white;
  border: none;
}

.next-btn:hover {
  background-color: #e100ff;
}

.counter {
  display: none;
  margin: auto;
  text-align: center;
  font-size: larger;
  color: #ffd000;
}

.score-points {
  display: none;
  margin: auto;
  text-align: center;
  font-size: larger;
  color: #ffd000;
}

.score-container {
  background-color: rgb(226, 226, 226);
  display: none;
  text-align: center;
  margin: auto;
  width: 500px;
  border-radius: 30px;
  line-height: 2;
}

.score-container ul {
  list-style: none;
  margin: auto;
  padding: 0;
  font-weight: bolder;
}

.score-container h2 {
  background: linear-gradient(to right, #e100ff, #7f00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
}

.save-score-btn {
  border-radius: 20px;
  margin: 20px;
  width: 100px;
  height: 40px;
  background-color: #0400ff;
  color: white;
  border: none;
}

.save-score-btn:hover {
  background-color: #e100ff;
}

.saved-scores {
  background-color: rgb(226, 226, 226);
  display: block;
  text-align: center;
  margin: auto;
  width: 500px;
  border-radius: 30px;
  line-height: 2;
}

.saved-scores h2 {
  background: linear-gradient(to right, #e100ff, #7f00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
}

.saved-scores p {
  font-weight: bold;
  font-size: large;
  color: #ff00aa;
}

.clear-score-btn {
  border-radius: 20px;
  margin: 20px;
  width: 120px;
  height: 40px;
  background-color: #0400ff;
  color: white;
  border: none;
}

.clear-score-btn:hover {
  background-color: #e100ff;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 0.8rem;
  }

  .saved-scores,
  .score-container,
  .quiz-start,
  .quiz-question-container {
    width: 90%;
  }

  .counter h3,
  .score-points h3 {
    margin: auto;
    padding: 10px;
  }
}
